.header {
    position: fixed;
    width: 100%;
    top: 0;

    &__title {
        margin-left: $margin/2;
    }
}
.main_navigation {
    position: absolute;
    right: $margin/2;
    top: 6px;

    li {
        display: inline;
    }
}
